---
import Footer from '../components/Footer.astro';
import Games from '../components/Games.astro';
import Hero from '../components/Hero.astro';
import MoreGames from '../components/MoreGames.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="mb-16">
		<Hero />
		<Games />
		<MoreGames />
	</main>
	
	<Footer />
</Layout>
