<section class="mb-12">
  <hgroup class="mb-4">
    <h2 class="text-2xl font-bold">代表作品</h2>
    <p class="text-lg font-bold" lang="en">Featured Products</p>
  </hgroup>

  <ul>
    <li>
      <iframe class="border-none w-full" src="https://itch.io/embed/3401205" title="Live Zone by UMa Studio"></iframe>
    </li>
    <li>
      <iframe class="border-none w-full" src="https://itch.io/embed/3254449" title="Youchat.exe by UMa Studio"></iframe>
    </li>
    <li>
      <iframe class="border-none w-full" src="https://itch.io/embed/2819609" title="Crash Punk by UMa Studio"></iframe>
    </li>
    <li>
      <iframe class="border-none w-full" src="https://itch.io/embed/2495952" title="Poopy Bird by UMa Studio"></iframe>
    </li>
  </ul>
</section>
