---
import "@fontsource-variable/noto-sans-sc";
---

<!doctype html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="description" content="Official website of UMa Studio, an indie game team from China." />
		<meta name="generator" content={Astro.generator} />
		<title>UMa Studio</title>
	</head>
	<body class="text-center">
		<div class="max-w-[40rem] p-8 mx-auto">
			<slot />
		</div>
	</body>
</html>

<style>
	:root {
		font-size: 1em;
	}
	body {
		font-family: "Noto Sans SC Variable", sans-serif;
	}
</style>